.solutions-div {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: #2F4F4F; */
    background-color: #0E125B;
    /* #0E125B */
    color: white;
    padding-bottom: 100px;
}

/* #29275F */
/* #191970; */
/* #311B3F */

.solutions-container {
    width: 90%;
    text-align: center;
}

.solutions-container h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 100px;

}

.solutions-container p {
    font-size: 1rem;
    margin-bottom: 50px;
    opacity: 0.6;
}

.solutions-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
}

@media (max-width: 768px) {
    .solutions-grid {
        display: flex;
        flex-direction: column;
    }
}